<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body>

    <div id="header">
        <div id="header-left">
            <span id="status">SPECTATOR</span>
        </div>
        <div id="header-middle">
            <span id="title"></span>
        </div>
    </div>

    <div id="game-board">
        <div id="top-left" class="tick-box" data-position-x="0" data-position-y="0"></div>
        <div id="top-middle" class="tick-box" data-position-x="0" data-position-y="1"> </div>
        <div id="top-right" class="tick-box" data-position-x="0" data-position-y="2"> </div>
        <div id="middle-left" class="tick-box" data-position-x="1" data-position-y="0"> </div>
        <div id="middle-middle" class="tick-box" data-position-x="1" data-position-y="1"> </div>
        <div id="middle-right" class="tick-box" data-position-x="1" data-position-y="2"> </div>
        <div id="bottom-left" class="tick-box" data-position-x="2" data-position-y="0"> </div>
        <div id="bottom-middle" class="tick-box" data-position-x="2" data-position-y="1"> </div>
        <div id="bottom-right" class="tick-box" data-position-x="2" data-position-y="2"> </div>
    </div>

    <div id="main-menu">
        <div>
            <button id="player1-bt" class="button">PLAYER 1 JOIN</button>
        </div>
        <div>
            <button id="player2-bt" class="button">PLAYER 2 JOIN</button>
        </div>
    </div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="js/flowtype.js"></script>
    <script src="js/socket.js"></script>
    <script>
        $('body').flowtype();

        $('#player1-bt').click(function() {

            socket.emit('lock player 1');
        });

        $('#player2-bt').click(function() {
            socket.emit('lock player 2');
        });


        $('.tick-box').click(function() {

            var data = {
                x: $(this).attr("data-position-x"),
                y: $(this).attr("data-position-y")
            };
            socket.emit('register tick', data);
        });

        $(".tick-box").hover(function() {
            if ($(this).children().length >= 1) return;

            if ($('#status').html() == 'PLAYER 1') {

                $(this).append($("<div class='circle' style='opacity:0.4;'></div>"));
            } else if ($('#status').html() == 'PLAYER 2') {
                $(this).append($("<div class='cross' style='opacity:0.4;'><div class='line1'></div><div class='line2'></div></div>"));
            }
        }, function() {
            if (($(this).children().length == 1 && $(this).find("div").css("opacity") == 1) || $(this).children().length == 2) return;
            $(this).find("div").remove();
        });
    </script>

</body>

</html>
